<% set_page_title(form_title(form_name: @current_context.form.name, page_name: t('.title'), mode: @mode)) %>

<% content_for :back_link do %>
    <%= link_to t("forms.back"), copy_of_answers_path(@form.id, @form.form_slug), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.title') %></h1>

    <p><%= t('.body_html') %></p>

    <%= govuk_button_to(
          t(".continue_button"),
          "/auth/govuk_one_login",
          method: :post,
          form: { data: { turbo: false} },
        ) %>
  </div>
</div>
